
#mapDiv {
    position:relative;
    float:left;
    width: 50%;
    border-width: 20;
    background-image: url("../img/gameBoard.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: rgb(215, 215, 215);
    
}

#father {
    border-width: 20;   
    display: block;
}

#inside-right {
    overflow: hidden;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: right;
    
}

#inside-right #playerCard {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    background-color: #FFE5B4;
}

#inside-right #playerChoice {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    background-color: #FAA0A0;
}

#playerDialogBox {
    height: 100%;
    background-color: #C1E1C1;
}

#top {  
    position: absolute;
    height: 65%;
    max-height: 65%;
}

#bottom {  
    position: absolute;
    bottom:0px;
    height:35%;
    width: 100%;
}


.superposeMap {
    width:100%;
    z-index: 1;
}

.superpose {
    position: absolute;
    z-index: 1;
}


