
#mapDiv {
    float:left;
    width: 50%;
    border-width: 20;
}

#father {
    border-width: 20;   
    display: block;
}

#inside-right {
    overflow: hidden;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: right;
    
}

#inside-right #playerCard {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    background-color: #FFE5B4;
}

#inside-right #playerChoice {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    background-color: #FAA0A0;
}

#playerDialogBox {
    height: 100%;
    background-color: #C1E1C1;
}

#top {  
    position: absolute;
    height: 65%;
    max-height: 65%;
}

#bottom {  
    position: absolute;
    bottom:0px;
    height:35%;
    width: 100%;
}