{% extends "base.html" %}

{% block titleBlock %}
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
{% endblock %}


{% block contentBlock %}

<br>

<div class="container p-3">
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Type</th>
                <th>Keywords</th>
                <th>Price</th>
                <th>Panier</th>
            </tr>
        </thead>

      <tbody>
        {% for joke in jokes %}
        <tr>
            <!-- Tier -->
            {% if joke.tier == 0%}
            <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">Dirt</td>
            {% elif joke.tier == 1%}
            <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">Vip</td>
            {% else %}
            <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">Platinum</td>
            {% endif %}
            <!-- Type -->
            <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">{{ joke.type }}</td>
            <!-- Keywords -->
            <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">{{ joke.keywords }}</td>
            <!-- Price -->
            <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">{{ joke.price }}€</td>
            <!-- Panier -->
          
                <!-- <img src="../static/img/panier.png" /> -->
            {%if jokesOwned != None %}
                {% if joke.id in jokesOwned %}
                <td class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">
                    <p>Already owned</p>
                </td>
                {% else %}
                <td>
                    <button class="panierBtn" id="{{ joke.id }}" type="button" onclick="addToBasket(this)" style="font-size:24px"><i class="fa fa-shopping-cart"></i></button>
                </td>
                {%endif%}\
            {%else%}
                <td>
                    <button class="panierBtn" id="{{ joke.id }}" type="button" onclick="addToBasket(this)" style="font-size:24px"><i class="fa fa-shopping-cart"></i></button>
                </td>
            {%endif%}
        
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<br>
<!-- Initialize JSON -->
<script>
    const jokes = JSON.parse('{{ jokes | tojson | safe}}');
    const jokesOwned = JSON.parse('{{ jokesOwned | tojson | safe}}');
</script>

{% endblock %}

{% block scriptBlock %}
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="../static/js/home.js"></script>
{% endblock %}