{% extends "base.html" %}


{% block mapBlock %}

<div id="mapDiv">

    <img id="map" src="../static/img/gameBoard.png" alt="map" class="superposeMap" usemap="#map">

    <img id="cyclist" class="superpose" src="../static/img/cyclist.png" style="width:100px">

</div>

<script>

    window.onload = function() {
       
        let positonX = positon1[0][0]*document.getElementById("mapDiv").clientWidth
        let positonY = positon1[0][1]*document.getElementById("mapDiv").clientHeight

        document.getElementById("cyclist").style.top = "500px";
        document.getElementById("cyclist").style.left = positonY;

    }

</script>

{% endblock %}

{% block scriptBlock %}
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="../static/js/home.js"></script>
{% endblock %}