{% extends "base.html" %}


{% block mapBlock %}

<div id="mapDiv">

    <img id="map" src="../static/img/gameBoard.png" alt="map" class="superposeMap" usemap="#map">

    <img id="cyclist" class="superpose" src="../static/img/cyclistRed.png" style="width:30px">

</div>

<script>

    window.onload = function() {
       
        let positonX = {{position}}[0]*document.getElementById("mapDiv").clientWidth - 10
        let positonY = {{position}}[1]*document.getElementById("mapDiv").clientHeight - 10

        console.log(positonX)
        console.log(positonY)

        document.getElementById("cyclist").style.setProperty("left", positonX + "px");
        document.getElementById("cyclist").style.setProperty("top", positonY + "px");

    }

</script>

{% endblock %}

{% block scriptBlock %}
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="../static/js/home.js"></script>
{% endblock %}