{% extends "base.html" %}

{% block titleBlock %}
<title>My Jokes</title>
{% endblock %}

{% block myJokesBlock %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link active" href="/myJokes">My jokes</a></li>
</ul>
{% endblock %}


{% block contentBlock %}


<div class="container p-3">
    <table class="table">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Type</th>
                <th>Keywords</th>
            </tr>
        </thead>

      <tbody>
        {% for joke in jokes %}
        <tr class="clickable-row" data-href="/details/{{ joke.id }}" style = "cursor : pointer ;">
            <!-- Tier -->
            {% if joke.tier == 0%}
            <td>Dirt</td>
            {% elif joke.tier == 1%}
            <td>Vip</td>
            {% else %}
            <td>Platinum</td>
            {% endif %}
            <!-- Type -->
            <td>{{ joke.type }}</td>
            <!-- Keywords -->
            <td>{{ joke.keywords }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<script>jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});</script>

{% endblock %}

{% block scriptBlock %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}