{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block titleBlock %}
<title>My Profile</title>
{% endblock %}

{% block profileBlock %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link active" href="/myProfile">Profile</a></li>
</ul>
{% endblock %}



{% block contentBlock %}

<div class="container p-3">
    <h1>Profile</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>

      <tbody>
        {% for data in my_data_list %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.surname }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="container p-3">
    {{ macros.show_form_errors(form) }}

    <form action="{{ url_for('my_blueprint.myProfile') }}"  method="post" novalidate>
        <div class="form-group">
            {{ form.csrf_token }}

            {{ macros.render_field(form.passwd, 'passwd') }}
            {{ macros.render_field(form.new_passwd, 'new_passwd') }}
            {{ macros.render_field(form.new_passwd_confirm, 'new_passwd_confirm') }}
        
            {{ form.submit(class='mt-4 mx-auto btn btn-primary') }}
        </div>
    </form>
</div>
{% endblock %}