{% extends "map.html" %}


{% block playerCards %}

<div id="playerCard">

    <div class="child"><p id="fontTeam">Belgian Team: 
    
        {% for card in teams[0] %}
            
            {% if loop.index == 5 %} 
                <span id = "B{{loop.index}}" class="cardBox" onclick="switchCard({{loop.index}}-1, 'B')">{{card}}</span>
            {% else %}
                <span id = "B{{loop.index}}" class="cardBox" onclick="switchCard({{loop.index}}-1, 'B')">{{card}}</span><span>-</span>
            {% endif %}
            
        {%endfor%}
        {% if teams[0]|length > 3%}
        <br>
        <button class = "button" onclick = "renew()">Renew selected cards</button>
        {% endif %}
        </p>
       
    
    </div>

    <div class="child"><p id="fontTeam">Dutch Team: 
    
        {% for card in teams[1] %}
            
            {% if loop.index == 5 %}
                <span class="cardBox">{{card}}</span>
            {% else %}
                <span class="cardBox">{{card}}</span><span>-</span>
            {% endif %}

        {%endfor%}
        </p>
    
    </div>

    <div class="child"><p id="fontTeam">German Team: 
    
        {% for card in teams[2] %}
            
            {% if loop.index == 5 %}
                <span class="cardBox">{{card}}</span>
            {% else %}
                <span class="cardBox">{{card}}</span><span>-</span>
            {% endif %}

        {%endfor%}
        </p>
    
    </div>

    <div class="child"><p id="fontTeam">Italian Team:
    
        {% for card in teams[3] %}
            
            {% if loop.index == 5 %}
                <span class="cardBox">{{card}}</span>
            {% else %}
                <span class="cardBox">{{card}}</span><span>-</span>
            {% endif %}

        {%endfor%}
    
        </p>
    </div>
    

</div>

{% endblock %}