{% extends 'loginWindow.html' %}
{% import "macros.html" as macros %}

{% block header %}
<title>Registration</title>
{% endblock %}

{% block content %}
<h1>Register</h1>

{{ macros.show_form_errors(form) }}

<form action="{{ url_for('my_blueprint.register') }}"  method="post" novalidate>
    <div class="form-group">
        {{ form.csrf_token }}

        {{ macros.render_field(form.username, 'username') }}
        {{ macros.render_field(form.name, 'name') }}
        {{ macros.render_field(form.surname, 'surname') }}
        {{ macros.render_field(form.email, 'email') }}
        {{ macros.render_field(form.passwd, 'passwd') }}
        {{ macros.render_field(form.passwd_confirm, 'passwd_confirm') }}
        

        {{ form.submit(class='mt-4 mx-auto btn btn-primary') }}
    </div>
</form>

{% endblock %}