{% extends "base.html" %}

{% block titleBlock %}
<title>Users</title>
{% endblock %}

{% block usersBlock %}
<ul class="navbar-nav mr-auto">
    <li class = "nav-item"><a class="nav-link active" href="/showUsers">Users</a></li>
</ul>
{% endblock %}


{% block contentBlock %}


<div class="container p-3">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th># of jokes</th>
            </tr>
        </thead>

      <tbody>
        {% for i in range(list_usernames|length) %}
        <tr>
            
            <!-- Tier -->
            <td>{{ list_usernames[i] }}</td>
            <!-- Type -->
           
            <td>
            {{ nb_jokes_users[i] }}
            </td>
            
            
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}


